<% form_for(rriki_param) do |f| %>
  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_area :value %>
  </p>
  <p>
    <%= f.submit button_label %>
  </p>
<% end %>